<div class="p-3 overflow-auto flex-grow-1 h-100" (click)="onClick($event)">
  <div class="px-3 pb-3 mb-3">
    <app-investor-list #favoriteInvestors data-cy="favorite-investors-grid" pageTitle="Favorite Investors" mode="favorite" class="d-block mb-4" (click)="favoriteInvestorsOnClick($event)"></app-investor-list>
  </div>
  <div class="shadow-sm bg-white rounded px-3 pb-3 mb-3">
    <app-investor-list #allInvestors data-cy="all-investors-grid" pageTitle="All Investors" mode="all" class="d-block mt-4" (click)="allInvestorsOnClick($event)"></app-investor-list>
  </div>
</div>
