<div class="d-flex flex-column p-3 overflow-auto w-100">
  <!--header-->
  <div class="d-flex mb-3">
    <!--Fund Details-->
    <div class="flex-grow-1">
      <h5>Provisions</h5>
    </div>
  </div>
  <!--Provisions Grid Section-->
  <div class="flex-grow-1 d-flex flex-column p-2 shadow-sm bg-white rounded">
    <!--nav bar-->
    <div class="d-flex flex-row mb-2 align-items-center">
      <div class="mr-auto"></div>
      <div class="ui-inputgroup lh-1">
        <input data-cy="fundprofile-search" type="text" pInputText placeholder="Search" (click)="showSearchPanel();">
        <span data-cy="fundprofile-search-button" class="ui-inputgroup-addon"><i class="fa fa-search" (click)="showSearchPanel();"></i></span>
      </div>
      <p-menubar data-cy="fundprofile-menubar" [model]="menuBarItems" [autoDisplay]="false"></p-menubar>
    </div>
    <div *ngIf="showProvisionSearch" class="flex-grow-0 mx-3">
      <div class="p-3 d-flex">
        <div class="d-flex flex-column mr-3">
          <h5 class="text-nowrap">{{searchOption == 'standard' ? 'Standard' : 'Precedent'}} Search</h5>
          <p-radioButton name="precedentSearchOptionButton" value="standard" label="Standard" [(ngModel)]="searchOption"></p-radioButton>
          <p-radioButton name="precedentSearchOptionButton" value="precedent" label="Precedent" [(ngModel)]="searchOption"></p-radioButton>
        </div>
        <div class="flex-grow-1">
          <div>
            <input id="searchInput" type="text" pInputText class="w-100" (keyup.enter)="getSearchResults()" style="min-width: 0 !important;" placeholder="Search" [(ngModel)]="criteria.targetText">
          </div>
          <div class="d-flex flex-wrap">

            <div class="search-multi-filter p-1">
              <p>Fund</p>
              <p-autoComplete appendTo="body"
                              [(ngModel)]="criteria.fundValues"
                              [suggestions]="fundList"
                              [multiple]="true"
                              placeholder="Fund"
                              [forceSelection]="true"
                              (completeMethod)="getFilterContents($event, 'Fund')"></p-autoComplete>
            </div>
            <div class="search-multi-filter p-1">
              <p>Investor Name</p>
              <p-autoComplete appendTo="body"
                              [(ngModel)]="criteria.investorValues"
                              [suggestions]="investorList"
                              [multiple]="true"
                              placeholder="investor"
                              [forceSelection]="true"
                              (completeMethod)="getFilterContents($event, 'Investor')"></p-autoComplete>
            </div>
            <div class="search-multi-filter p-1">
              <p>Sponsor</p>
              <p-autoComplete appendTo="body"
                              [(ngModel)]="criteria.sponsorValues"
                              [suggestions]="sponsorList"
                              [multiple]="true"
                              placeholder="Sponsor"
                              [forceSelection]="true"
                              (completeMethod)="getFilterContents($event, 'Sponsor')"></p-autoComplete>
            </div>
            <div class="search-multi-filter p-1">
              <p>Business Unit</p>
              <p-autoComplete appendTo="body"
                              [(ngModel)]="criteria.businessUnitValues"
                              [suggestions]="businessUnitList"
                              [multiple]="true"
                              placeholder="Business Unit"
                              [forceSelection]="true"
                              (completeMethod)="getFilterContents($event, 'BusinessUnit')"></p-autoComplete>
            </div>
            <div class="search-multi-filter p-1">
              <p>Strategy</p>
              <p-autoComplete appendTo="body"
                              [(ngModel)]="criteria.strategyValues"
                              [suggestions]="strategyList"
                              [multiple]="true"
                              placeholder="Strategy"
                              [forceSelection]="true"
                              (completeMethod)="getFilterContents($event, 'Strategy')"></p-autoComplete>
            </div>
            <div class="search-multi-filter p-1">
              <p>Investor Type</p>
              <p-autoComplete appendTo="body"
                              [(ngModel)]="criteria.investorTypeValues"
                              [suggestions]="investorTypeList"
                              [multiple]="true"
                              placeholder="Investor Type"
                              [forceSelection]="true"
                              (completeMethod)="getFilterContents($event, 'InvestorType')"></p-autoComplete>
            </div>
            <div class="search-multi-filter p-1">
              <p>Investor Entity</p>
              <p-autoComplete appendTo="body"
                              [(ngModel)]="criteria.entityValues"
                              [suggestions]="entityList"
                              [multiple]="true"
                              placeholder="Investor Entity"
                              [forceSelection]="true"
                              (completeMethod)="getFilterContents($event, 'Entity')"></p-autoComplete>
            </div>
            <div class="search-multi-filter p-1">
              <p>Investor Counsel</p>
              <p-autoComplete appendTo="body"
                              [(ngModel)]="criteria.counselValues"
                              [suggestions]="counselList"
                              [multiple]="true"
                              placeholder="Counsel"
                              [forceSelection]="true"
                              (completeMethod)="getFilterContents($event, 'Counsel')"></p-autoComplete>
            </div>
            <div class="search-multi-filter p-1">
              <p>Provision Type</p>
              <p-autoComplete appendTo="body"
                              [(ngModel)]="criteria.provisionTypeValues"
                              [suggestions]="provisionTypeList"
                              [multiple]="true"
                              placeholder="Provision Type"
                              [forceSelection]="true"
                              (completeMethod)="getFilterContents($event, 'ProvisionType')"></p-autoComplete>
            </div>
            <div class="search-range-filter p-1">
              <p>Year</p>
              <span class="ui-inputgroup ">
                <span class="ui-inputgroup-addon">min</span>
                <input type="text" [(ngModel)]="criteria.yearMin" pInputText placeholder="value">
                <span class="ui-inputgroup-addon">max</span>
                <input type="text" [(ngModel)]="criteria.yearMax" pInputText placeholder="value">
              </span>
            </div>
            <div class="search-range-filter p-1">
              <p>Fund Size</p>
              <span class="ui-inputgroup ">
                <span class="ui-inputgroup-addon">min</span>
                <input type="text" [(ngModel)]="criteria.sizeMin" pInputText placeholder="value">
                <span class="ui-inputgroup-addon">max</span>
                <input type="text" [(ngModel)]="criteria.sizeMax" pInputText placeholder="value">
              </span>
            </div>
            <div class="search-range-filter p-1">
              <p>Aggregate Investor Size</p>
              <span class="ui-inputgroup ">
                <span class="ui-inputgroup-addon">min</span>
                <input type="text" [(ngModel)]="criteria.aggregateSizeMin" pInputText placeholder="value">
                <span class="ui-inputgroup-addon">max</span>
                <input type="text" [(ngModel)]="criteria.aggregateSizeMax" pInputText placeholder="value">
              </span>
            </div>
            <div class="search-range-filter p-1">
              <p>Investor Commitment</p>
              <span class="ui-inputgroup ">
                <span class="ui-inputgroup-addon">min</span>
                <input type="text" [(ngModel)]="criteria.commitmentMin" pInputText placeholder="value">
                <span class="ui-inputgroup-addon">max</span>
                <input type="text" [(ngModel)]="criteria.commitmentMax" pInputText placeholder="value">
              </span>
            </div>

          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <div class="d-flex flex-column justify-content-center">
          <button pButton (click)="getSearchResults()" label="Search"></button>
          <a [routerLink]="" (click)="reset()" tabindex="-1"><small>Clear All Fields</small></a>
        </div>
      </div>
    </div>

    <div *ngIf="searchOption==='standard'" class="flex-grow-1">
      <!--Grid-->
      <p-table [value]="rows" id="provision"
               [dataKey]="id"
               [columns]="cols"
               [scrollable]="true"
               [scrollHeight]="'calc(100vh - 240px)'"
               [style]="{width: '100%',height: '100%'}">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col style="width: 3rem">
            <col *ngFor="let col of columns" [style.width]="col.width">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th>
              <input type="checkbox" [(ngModel)]="isAllProvisionSelected"
                     (change)="selectAllInvestorProvisions($event, rowData)" tabindex="-1" />
            </th>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
          <tr>
            <td class="highlight-text">
              <input type="checkbox" [(ngModel)]="rowData.isSelected" (change)="selectProvision($event, rowData)"
                     tabindex="-1" />
            </td>
            <td class="highlight-text">{{rowData.content}}</td>
            <td class="highlight-text">
              <div class="w-100">
                <p-autoComplete #provisionTypeInput
                                styleClass="my-inplace w-100"
                                [inputStyleClass]="rowData.isProvisionTypeInherited?'text-danger w-100 lh-1':'w-100 lh-1'"
                                appendTo="body"
                                [ngModel]="getProvisionType(rowData, provisionTypeInput)"
                                (ngModelChange)="rowData.provisionType = $event"
                                [suggestions]="getAvailableProvisionTypes(rowData)"
                                (completeMethod)="provisionTypeSearch($event,rowData)"
                                (onKeyUp)="provisionTypeOnKeyUp($event,rowData)"
                                (onBlur)="provisionTypeOnBlur(rowData)"
                                (onFocus)="provisionTypeOnFocus(rowData)"></p-autoComplete>
              </div>
            </td>
            <td class="highlight-text d-flex flex-column">
              <div class="crop"><a *ngIf="rowData.fundId" tabindex="-1"  [routerLink]="['/funds',rowData.fundId]">{{ rowData.fundName }}</a></div>
              <div class="crop"><a *ngIf="rowData.investorId" tabindex="-1"  [routerLink]="['/investors',rowData.investorId]">{{ rowData.investorName }}</a></div>
              <div>{{rowData.investorType}}</div>
              <div>{{rowData.commitment}}</div>
              <a href="/api/fundInvestor/downloadSideLetter/{{ rowData.fundInvestorId }}" [attr.title]="rowData.sideLetterFileName" class="crop" tabindex="-1">{{rowData.sideLetterFileName }}</a>

            </td>
            <td class="highlight-text">
              <div class="w-100">
                <input pInputText type="text" class="w-100 my-inplace" [(ngModel)]="rowData.notes"
                       (keyup)="provisionNotesOnKeyUp($event,rowData)" (blur)="provisionNotesOnBlur(rowData)"
                       (focus)="provisionNotesOnFocus(rowData)" tabindex="-1" />
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <!--END - COLUMN HEADERS-->
      <div *ngIf="showViewMore" class="text-center m-1">
        <a [routerLink]="" (click)="getSearchResults(true)">View More</a>
      </div>
    </div>

    <div *ngIf="searchOption==='precedent'" class="flex-grow-1">
      <div *ngIf="provisions && provisions.length>0">
        <app-precedent-search-results-component [provisions]="provisions"></app-precedent-search-results-component>
      </div>
      <div *ngIf="!provisions || provisions.length===0">
        No results found.
      </div>
    </div>

  </div>
</div>



